<nav class="navbar navbar-dark navbar-expand-lg bg-dark sticky-top">
    <div class="container">
        <a class="navbar-brand font-weight-bold" href="/"><img class="logo" src="../img/logo1.jpg" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav d-flex flex-grow-1 flex-shrink-1">

                <% for (let i = 0; i < categories.length; i++) { %>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/category/<%= categories[i].link %>"> <%= categories[i].name %>  </a>
                    </li>
                    
               <% } %>   
               
               <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/photogallery"> Photo Gallery</a>
            </li>
            </ul>
            <form class="d-flex justify-content-end">
                <input class="form-control search mr-1" type="search" placeholder="Search" aria-label="Search">
                <!-- <button class="btn btn-outline-info" type="submit"><i class="fas fa-search"></i></button> -->
                <a class="btn-sign-a pl-1 btn btn-outline-info" href="/signin"><i class="fas fa-user-lock text-white"></i></a>
            </form>
           
            
        </div>
      
    </div>
</nav>