<%- include("./head.ejs") %>

<%- include("./header.ejs") %>


<div class="container-fluid footer_bg">
    <div class="container d-flex flex-wrap inside">
        <%for (let i = 0; i <21; i++) { %>
        <div class="box col-lg-4 col-md-6 col-sm-12"><a href=""><img src="../img/photogallery/photo<%=i%>.jpg" alt=""></a></div>
            
       <% } %>  
       
    </div>

</div>
        











<%- include("./footer.ejs") %>